nav a, button {	
	min-width: 48px;
	min-height: 48px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.logo {
    max-width: 25%;
}

#logo-image {
    max-width: 100%;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-name {
    font-size: 30px;
    color: #2d3c49;
}

.user-title {
    font-size: 20px;
    color: #2d3c49;
}

.middle-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#line-break {
    width: 100%;
    border: 1px solid #02b3e4;
}

#banner-image {
    width: 100%;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.work-title {
    color: #7d97ad;
    font-size: 30px;
    text-align: center;
}

.project {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.project img[id^='project-image-'] {
    min-width: 100%;
    height: auto;
    max-height: 225px;
}

.project-title {
    text-align: center;
    font-size: 15px;
    color: #2d3c49;
}

.project-link {
    text-align: center;
    font-size: 10px;
    color: #2d3c49;
    width: 100%;
}