nav a, button {	
	min-width: 48px;
	min-height: 48px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.top-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.user {
    display: flex;
    flex-direction: column;
}

.user-name {
    color: #2d3c49;
}

.user-title {
    color: #7d97ad;  
}

#line-break {
    border: 1px solid #02b3e4;
}

#banner-image {
    min-width: 100%;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.work-title {
    color: #7d97ad;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project {
    max-width: 200px;
}

.project img[id^='project-image-'] {
    min-width: 100%;
    height: auto;
}

.project-title {
    color: #2d3c49;
}

.project-link {
    color: #2d3c49;
}